################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
# 空行无意义，增加可阅读性
#
# 以#开头的行是注释 如果有需要匹配的内容是#开头的，那么在#前面加上反斜杠转义符，即\#

.vs/
.vscode/
# 不追踪.vs这个文件夹下的所有内容

**/__pycache__/
# 不追踪当前git项目中所有_pycache_文件夹中的内容，无论是几级目录中的

check.toml