
# OSX
.DS_Store

.idea

.env.local

# Logs
logs/*.log*
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

dist/

# store
charles/chlsj/*
src/json/
src/jd/*.json
src/jd/*/*.json

src/jd/*.url
src/jd/*/*.url
