a {
    text-decoration: none;
    color: blue
}

a:hover {
    text-decoration: underline;
    color: red
}

/* 全局容器, 所有元素在该容器内 */

.global_container {
    width: 1080px;
    margin: auto;
    padding: 10px;
}

.main {
    border: 1px solid silver;
    margin: 10px auto;
    padding: 10px;
    min-height: 640px;
}