<style>
    .layui-input, .layui-select {
    line-height: initial;
}
</style>
<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label">机器人昵称</label>
            <div class="layui-input-block">
                <input name="user_name" readonly placeholder="" value="{$robot.nickname}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">关键词</label>
            <div class="layui-input-block">
                <input name="question" required placeholder="请输入关键词" value="{$reply.question}" class="layui-input">
                <input type="hidden" name="_csrf_" value="{:systoken('admin/users/edit_users')}">
            </div>
        </div>
        
        <div class="layui-form-item">
            <label class="layui-form-label label-required">答复</label>
            <div class="layui-input-block">
                <textarea name="answer" required placeholder="请输入答复" class="layui-input" style="height:250px">{$reply.answer}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">面向对象</label>
            <div class="layui-input-block">
                <select name="oriented" id="selectList" disabled="">
                    <option value="2">不限</option>
                    <option value="0">私信</option>
                    <option value="1">群组</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">触发方式</label>
            <div class="layui-input-block">
                <select name="fuzzy" id="selectList" disabled="">
                    <option value="0">模糊</option>
                    <option value="1">精准</option>
                </select>
            </div>
        </div>
        
    </div>
    <input name="id" type="hidden" value="{$reply.id}">

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>修改</button>
        <button class="layui-btn layui-btn-danger" type='button' data-close>取消</button>
    </div>

    <script>window.form.render();</script>

</form>