{extend name='main'}

{block name="content"}
<style>
.layui-table-cell{
    height: auto !important;
}
.layui-table img {
width: 120px;
height:120px;
}
.think-checkbox input[type=checkbox]{
    border: 1px solid black;
}
.think-checkbox input[type=checkbox]:checked:after{
    color: #fff;
    background: black;
}


</style>
<div class="think-box-shadow">
    <fieldset>
        <legend>条件搜索</legend>
        <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
            <div class="layui-form-item layui-inline" style="margin-right: 10px">
                <button data-action='{:url("do_group")}?robot_wxid={$robot_wxid}' data-csrf="{:systoken('do_deposit2')}" data-rule="id#{key}" class='layui-btn layui-btn-sm layui-btn-danger'>批量服务</button>
            </div>
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">群名</label>
                <div class="layui-input-inline">
                    <input name="nickname" value="{$Think.get.nickname|default=''}" placeholder="请输入群名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
            </div>
        </form>
    </fieldset>
    <table class="layui-table margin-top-15" lay-filter="tab" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th lay-data="{field:'nickname',width:120}" class='text-left nowrap'>群组名</th>
            <th lay-data="{field:'wxid',width:180}" class='text-left nowrap'>群组微信ID</th>
            <th lay-data="{field:'robot_wxid',width:150}" class='text-left nowrap'>机器人微信ID</th>
            <th lay-data="{field:'edit',width:380,fixed: 'right'}" class='text-left nowrap'>操作</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td think-checkbox'>
                <input class="list-check-box" value='{$vo.wxid}' type='checkbox'>
            </td>
            <td class='text-left nowrap'>{$vo.nickname}</td>
            <td class='text-left nowrap'>{$vo.wxid}</td>
            <td class='text-left nowrap'>{$vo.robot_wxid}</td>
            <td class='text-left nowrap'>
                <a data-dbclick class="layui-btn layui-btn-xs" data-title="编辑菜单" data-modal='{:url("admin/users/edit_users")}?id={$vo.wxid}'>修改群名</a>
                <a data-dbclick class="layui-btn layui-btn-xs" style="background:red;" data-title="编辑菜单" data-modal='{:url("admin/users/edit_users")}?id={$vo.wxid}'>修改群公告</a>
                <a data-dbclick class="layui-btn layui-btn-xs" style="background:blue;" data-title="向{$vo.nickname}发送消息" data-modal='{:url("admin/users/send_message")}?to_wxid={$vo.wxid}&robot_wxid={$vo.robot_wxid}'>发送消息</a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    <script>
        var serviced_for_group=<?php echo(json_encode($serviced_for_group));?>;
        $(function(){
            $(serviced_for_group).each(function (i,e){
                $("input[value='"+e+"']").prop("checked",true);
            });
        });
        
        function del_user(id){
            layer.confirm("确认要删除吗，删除后不能恢复",{ title: "删除确认" },function(index){
                $.ajax({
                    type: 'POST',
                    url: "{:url('delete_user')}",
                    data: {
                        'id': id,
                        '_csrf_': "{:systoken('admin/users/delete_user')}"
                    },
                    success:function (res) {
                        layer.msg(res.info,{time:2500});
                        location.reload();
                    }
                });
            },function(){});
        }
    </script>
    <script>
    </script>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
{/block}
