name: sync-freefq
on:
  workflow_dispatch:
  schedule:
    - cron: '5 */1 * * *'
  watch:
    types: started
  repository_dispatch:
    types: sync-freefq
jobs:
  repo-sync:
    env:
      PAT: ${{ secrets.PAT }} #此处PAT需要申请，教程详见：https://www.jianshu.com/p/bb82b3ad1d11
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: sync-freefq
        uses: repo-sync/github-sync@v2
        if: env.PAT
        with:
          source_repo: "https://github.com/freefq/free.git"
          source_branch: "master"
          destination_branch: "freefq"
          github_token: ${{ secrets.PAT }}
