name: 'GitHub Actions Mirror'

on: 
  workflow_dispatch:

jobs:

  mirror_to_gitlab:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v1
      - name: 'Mirror to gitlab'
        uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            git@gitlab.com:rwkgyg/x-ui-yg.git
          ssh_private_key:
            ${{ secrets.GITLAB_KEY }}
